{% load static %}


<header class="indHd hdrFd">
    
    <div class="container">
        <nav class="navbar navbar-expand-lg px-0">
        
            <a class="navbar-brand" href="/">
                <img src="{% static './images/logo.svg' %}" alt="logo" />
            </a>
        
            <div class="hdNavMenu">
                <div class="collapse_rn navbar-collapse" id="indHdClp">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>

                        {% if stage_url != domain_url %}
                        <li class="nav-item">
                            <a class="nav-link" href="#sect-about-us">About</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/#sect-about-us">About</a>
                        </li>
                        {% endif %}

                        {% if stage_url != domain_url %}
                        <li class="nav-item">
                            <a class="nav-link" href="#sect-tokenomics">Tokenomics</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/#sect-tokenomics">Tokenomics</a>
                        </li>
                        {% endif %}


                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#sect-token">Token Allocation</a>
                        </li> --> 

                        {% if stage_url != domain_url %}
                        <li class="nav-item">
                            <a class="nav-link" href="#sect-how-buy">How to Buy</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/#sect-how-buy">How to Buy</a>
                        </li>
                        {% endif %}

                        {% if stage_url != domain_url %}
                        <li class="nav-item">
                            <a class="nav-link" href="#sect-roadmap">Roadmap</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/#sect-roadmap">Roadmap</a>
                        </li>
                        {% endif %}


                        <li class="nav-item">
                            <a class="nav-link" href="/media/uploads/Konnichiwa_design.pdf" target="_blank">Whitepaper</a>
                        </li>

                        {% if stage_url != domain_url %}
                        <li class="nav-item">
                            <a class="nav-link" href="#sect-team">Team</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/#sect-team">Team</a>
                        </li>
                        {% endif %}
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#sect-FAQ">FAQ</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link btn btn-gr btn-14140 " href="https://pancakeswap.finance/swap?chainId=97" target="_blank">Buy Token</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="mobMenu d-lg-none">
                <div class="smClose">
                    <svg id="closeicon" viewBox="0 0 800 600">
                        <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="top"></path>
                        <path d="M300,320 L460,320" id="middle"></path>
                        <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
                    </svg>
                </div>
            </div>
        
        </nav>
    </div>
</header>