<!DOCTYPE html>
<html lang="en">

<head>
	<title>KONNICHIWA</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<link href="../images/favicon.png" rel="icon" />

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
		rel="stylesheet">

	<!-- Style Sheets -->
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/slick.css">

	<link rel="stylesheet" href="../css/custom.css">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/message.css">

</head>

<body>

	<header class="indHd hdrFd">
		
		<div class="container">
			<nav class="navbar navbar-expand-lg px-0">
			
				<a class="navbar-brand" href="/">
					<img src="../images/logo.svg" alt="logo" />
				</a>
			
				<div class="hdNavMenu">
					<div class="collapse_rn navbar-collapse" id="indHdClp">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="./index.html">Home</a>
							</li>
	
							<li class="nav-item">
								<a class="nav-link" href="#sect-about-us">About</a>
							</li>
	
							<li class="nav-item">
								<a class="nav-link" href="/#sect-tokenomics">Tokenomics</a>
							</li>
	
							<!-- <li class="nav-item">
								<a class="nav-link" href="#sect-token">Token Allocation</a>
							</li> --> 
	
							<li class="nav-item">
								<a class="nav-link" href="/#sect-how-buy">How to Buy</a>
							</li>
	
							<li class="nav-item">
								<a class="nav-link" href="/#sect-roadmap">Roadmap</a>
							</li>
	
							<li class="nav-item">
								<a class="nav-link" href="/media/uploads/Konnichiwa_design.pdf" target="_blank">Whitepaper</a>
							</li>
	
							<li class="nav-item">
								<a class="nav-link" href="/#sect-team">Team</a>
							</li>

							<!-- <li class="nav-item">
								<a class="nav-link" href="#sect-FAQ">FAQ</a>
							</li> -->

							<li class="nav-item">
								<a class="nav-link btn btn-gr btn-14140 " href="https://pancakeswap.finance/swap?chainId=97" target="_blank">Buy Token</a>
							</li>
						</ul>
					</div>
				</div>
	
				<div class="mobMenu d-lg-none">
					<div class="smClose">
						<svg id="closeicon" viewBox="0 0 800 600">
							<path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="top"></path>
							<path d="M300,320 L460,320" id="middle"></path>
							<path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
						</svg>
					</div>
				</div>
			
			</nav>
		</div>
	</header>
	
	<div class="indBnr">
		<div class="glowBox glowBox-1">
			<div class="glowBoxCnt">
				<div class="glowBoxInMd"></div>
				<div class="glowBoxInSm"></div>
			</div>
		</div>
	
		<div class="glowBox glowBox-2">
			<div class="glowBoxCnt">
				<div class="glowBoxInMd rd"></div>
				<div class="glowBoxInSm rd"></div>
			</div>
		</div>
	
	
		<div class="container">
			<div class="row indBnrR">
				<div class="col-sm-12 col-md-12 col-lg-6 indBnrC">
					<div class="indBnrCon">
						<h3 class="sbTl">Start Now</h3>
						<h1 class="secTl">
							Join Our
							<br>
							<span>Community Today</span>
						</h1>
	
						<div class="input-group indBnrAdr">
							<div class="input-group-prepend">
								<select class="custom-select">
									<option>BSC</option>
									<option>ETH</option>
								</select>
							</div>
							<input type="text" class="form-control" placeholder="" id="textarea"
								value="0xfEbe8C1eD424Dbyh68qbsrabmki9gabf452mn">
							   
							<div class="input-group-append br-none">
								<span class="tooltiptext">Copy!!!</span>
								<button class="btn btnIc">
									<span onclick="copyValue()">
										<img  src="../images/icons/simcard-2.svg"  class="hover" alt="simcard-2" />
									</span>
								</button>
							</div>
						</div>
	
						<div class="indBnrLk">
							<a href="https://pancakeswap.finance/swap?chainId=97" target="_blank">
								<button class="btn btn-gr-2 btn-22645">
									Buy on Pancakeswap
								</button>
							</a>
						</div>
					</div>
				</div>
	
				<div class="col-sm-12 col-md-12 col-lg-6 indBnrC">
					<div class="indBnrIg">
						<img src="../images/pic/indBnrIg.png" alt="indBnrIg.png" />
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- About Section -->
	<div id="sect-about-us" class="indAbt">
		<div class="indAbtOl">
			<img src="../images/pic/over-lay-6.png" alt="over-lay-6.png" />
		</div>
		<div class="container">
			<div class="row indAbtR">
				<div class="col-sm-12 col-md-12 col-lg-auto indAbtC">
					<div class="abtFtrs">
						<div class="secTlTx">
							<h4 class="sbTl">ABOUT US</h4>
							<h2 class="secTl">Our Features</h2>
						</div>
					   
						<ul class="abtFtrLs">
							<li>
								<span class="abtFtrIc">
									<img src="../images/icons/eco.svg" alt="eco.svg" />
								</span>
								<span class="abtFtrTx">
									<b>General</b>
									Ecosystem
								</span>
							</li>

							<li>
								<span class="abtFtrIc">
									<img src="../images/icons/settings.svg" alt="settings.svg" />
								</span>
								<span class="abtFtrTx">
									<b>Revolutionzied</b>										
									Platform
								</span>
							</li>
	
							<li>
								<span class="abtFtrIc">
									<img src="../images/icons/smart.svg" alt="smart.svg" />
								</span>
								<span class="abtFtrTx">
									<b>Safe Smart</b>										
									Contract
								</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12 col-md-12 col-lg indAbtC">
					<div class="abtFtrPara">
						<p>Konnichiwa is a deflationary token designed to become more scarce over time.</p>
						<p>Watch the amount of Konnichiwa supply decrease automatically as each buy and sell transaction burns a 1% fee from on chain transaction that happens on the Konnichiwa ecosystem. </p>
						<p>
							There is a 10% tax fee on every buy and sell and is broken down into the following: <br>
							5% of the tax goes to the liquidity pool <br>
							4% goes to support marketing efforts <br>
							1% Auto burn feature: Thus, coins are burned with each on chain transaction.
						</p>
						<p>
							There is an antiwhale system so no person can hold more than 4% of the supply and you can not sell more than 4% of the supply in one transaction.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Tokenomics Section -->
	<div id="sect-tokenomics" class="indTknms">
		<div class="container">
	
			<div class="tknBlk">
				<div class="secTlTx">
					<h4 class="sbTl">KONNICHIWA</h4>
					<h2 class="secTl"><span>Tokenomics</span></h2>
				</div>
	
				<div class="tknDtBlk">
					<div class="tknDtR row">
	
						<div class="col-sm-12 col-md-6 col-lg-auto tknDtC tknDtC-lt">
							<div class="tknDtCdCnt">
								<div class="tknDtCd">
									<div class="tknDtCdTl">
										<span class="tknDtCdTlD"></span>
										<span class="tknDtCdTlL">Token Name</span>
									</div>
									<div class="tknDtCdBd">
										<span class="tknDtCdTlV">Konnichiwa</span>
									</div>
								</div>
	
								<div class="tknDtCd">
									<div class="tknDtCdTl">
										<span class="tknDtCdTlD"></span>
										<span class="tknDtCdTlL">Token Ticker</span>
									</div>
									<div class="tknDtCdBd">
										<span class="tknDtCdTlV">KONN</span>
									</div>
								</div>
							</div>
						</div>
	
						<div class="col-sm-12 col-md-12 col-lg tknDtC tknDtC-ct">
							<div class="tknCat">
								<div class="tknCatOl">
									<img src="../images/pic/business_model.png" alt="business_model.png" />
								</div>
								<img src="../images/pic/cat.svg" alt="cat.svg" />								
							</div>
						</div>
	
						<div class="col-sm-12 col-md-6 col-lg-auto tknDtC tknDtC-rt">
							<div class="tknDtCdCnt v2">
								<div class="tknDtCd">
									<div class="tknDtCdTl">
										<span class="tknDtCdTlD"></span>
										<span class="tknDtCdTlL">Token Network</span>
									</div>
									<div class="tknDtCdBd">
										<span class="tknDtCdTlV">BSC</span>
									</div>
								</div>
	
								<div class="tknDtCd">
									<div class="tknDtCdTl">
										<span class="tknDtCdTlD"></span>
										<span class="tknDtCdTlL">Total Supply</span>
									</div>
									<div class="tknDtCdBd">
										<span class="tknDtCdTlV">1,000,000,000 (500 million)</span>
									</div>
								</div>
							</div>
						</div>
	
	
					</div>
				</div>
				<div class="tknDtMr">
					<a href="/media/uploads/Konnichiwa_design.pdf" class="btn btn-18945 btn-gr-2" target="_blank">Whitepaper</a>
					<a href="https://pancakeswap.finance/swap?chainId=97" class="btn btn-18945 btn-gr" target="_blank">Buy Token</a>
				</div>
			</div>			
	
		</div>
	</div>
	
	<!-- Token Allocation -->
	<div id="sect-token" class="indTknms">
		<div class="tknAlc">
			<div class="tknAlcOl">
				<img lazyload src="../images/pic/over-lay-4.png" alt="over-lay-4" />
			</div>
			<div class="container">
				<div class="secTlTx">
					<h4 class="sbTl">KONNICHIWA</h4>
					<h2 class="secTl"><span>Token Allocation</span></h2>
				</div>
		
				<div class="tknAlcBlk">
					<div class="tknAlcR row">
						<div class="col-sm-12 col-md-6 col-lg-auto tnkAlcC tnkAlcC-lt">
							<ul class="tknAlcGtx">
								<li>
									<span class="gAr" style="background-color: #FFAF00;"></span>
									<span>Partnerships: 3%</span>
								</li>
								<li>
									<span class="gAr" style="background-color: #19A312;"></span>
									<span>Team: 9%</span>
								</li>
								<li>
									<span class="gAr" style="background-color: #8D0DF1;"></span>
									<span>Marketing: 10%</span>
								</li>
							</ul>
						</div>
						<div class="col-sm-12 col-md-12 col-lg tnkAlcC tnkAlcC-ct">
							<div class="tknAlcGph">
								<img src="../images/chart1.png" alt="chart" />
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-auto tnkAlcC tnkAlcC-rt">
							<ul class="tknAlcGtx">
								<li>
									<span class="gAr" style="background-color: #0586C7;"></span>
									<span>Development: 3%</span>
								</li>
								<li>
									<span class="gAr" style="background-color: #D20E11;"></span>
									<span>Liquidity Pool: 25%</span>
								</li>
								<li>
									<span class="gAr" style="background-color: #FF517B;"></span>
									<span>Burned: 50%</span>
								</li>
								<li></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- How to buy -->
	<div id="sect-how-buy" class="qukGud">
		<div class="container">
			<div class="qGdBlk">
				<div class="secTlTx">
					<h4 class="sbTl">HOW TO BUY</h4>
					<h2 class="secTl"><span>Quick Start Guide</span></h2>
				</div>
	
				<div class="qGdCdCnt">
					<div class="row qGdCdR">
						<div class="col-sm-12 col-md-12 col-lg-6 qGdCdC">
							<div class="qGdCdCon">
								<div class="qGdCdConHd">
									<span class="qGdCdCHdN">01</span>
									<span class="qGdCdCHdIgc gr">
										<span class="qGdCdCHdIg">
											<img src="../images/wallets/metamask-logo.png" alt="metamask-logo.png" />
										</span>
									</span>
									<span class="qGdCdCHdT">
										Create MetaMask <br> wallet
									</span>
								</div>
								<div class="qGdCdConBd">
									<p>
										Create a MetaMask Wallet using a phone or desktop computer. This will allow you to buy, sell and send
										Konnichiwa tokens.
									</p>
								</div>
							</div>
						</div>
	
						<div class="col-sm-12 col-md-12 col-lg-6 qGdCdC">
							<div class="qGdCdCon">
								<div class="qGdCdConHd">
									<span class="qGdCdCHdN">02</span>
									<span class="qGdCdCHdIgc rd">
										<span class="qGdCdCHdIg">
											<img src="../images/wallets/binance-logo.png" alt="binance-logo.png" />
										</span>
									</span>
									<span class="qGdCdCHdT">
										Send BNB to your <br> wallet
									</span>
								</div>
								<div class="qGdCdConBd">
									<p>
										You can buy Binance Coin (BNB) on centralized exchanges such as Binance. Make sure to use the BSC network when transfering BNB.
									</p>
								</div>
							</div>
						</div>
	
						<div class="col-sm-12 col-md-12 col-lg-6 qGdCdC">
							<div class="qGdCdCon">
								<div class="qGdCdConHd">
									<span class="qGdCdCHdN">03</span>
									<span class="qGdCdCHdIgc rd">
										<span class="qGdCdCHdIg">
											<img src="../images/wallets/pancakeswap-logo.png" alt="pancakeswap-logo.png" />
										</span>
									</span>
									<span class="qGdCdCHdT">
										Connect your wallet to <br> PancakeSwap
									</span>
								</div>
								<div class="qGdCdConBd">
									<p>
										Use the PancakeSwap exchange by connecting your MetaMask wallet to the site by clicking the 'Connect' button.
									</p>
								</div>
							</div>
						</div>
	
						<div class="col-sm-12 col-md-12 col-lg-6 qGdCdC">
							<div class="qGdCdCon">
								<div class="qGdCdConHd">
									<span class="qGdCdCHdN">04</span>
									<span class="qGdCdCHdIgc gr">
										<span class="qGdCdCHdIg">
											<img src="../images/wallets/cat.png" alt="cat.png" />
										</span>
									</span>
									<span class="qGdCdCHdT">
										Swap BNB for <br> Konnichiwa
									</span>
								</div>
								<div class="qGdCdConBd">
									<p>
										You can start swapping your BNB as soon as the transaction is complete! Enter the token address of Konnichiwa in PancakeSwap to swap.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
	
				<div class="qGdLk">
					<a href="/buytoken" class="btn btn-gr btn-24745">
						Step by Step Buy Guide
					</a>
				</div>
			</div>
		</div>
	</div>

	<!-- {% block roadmap %}
	{% include 'roadmap.html
	{% endblock %} -->

	<!-- {% block ourteam %}
	{% include 'ourteam.html
	{% endblock %} -->

	<!-- {% block faq %}
	{% include 'faq.html
	{% endblock %} -->

	<!-- {% block footer %}
	{% include 'footer.html
	{% endblock %} -->

	<!-- {% block message %}
	{% include 'message.html
	{% endblock %} -->


	<!-- <div class="pgLoad">
		<div class="spinner-border" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div> -->

</body>

	<!-- Script Files -->

	<script>
		localStorage.setItem("Bulid","0.48"); 
	</script>

	<script src="../js/jquery.min.js"></script>
	<script src="../js/popper.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>

	
	<script src="../lobibox/js/lobibox.min.js"></script>
	<link rel="stylesheet" href="../lobibox/css/lobibox.min.css">

	<script src="../js/slick.min.js"></script>
	<script src="../js/custom.js"></script>
	<script src="../js/environmental.js"></script>
	<script src="../js/walletconnect.js"></script>



	<!-- <script>
		$(window.location.hash).modal('show');
	</script> -->
</html>