<!DOCTYPE html>
<html lang="en">

<head>
	<title>KONNICHIWA</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<link href="../images/favicon.png" rel="icon" />

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
		rel="stylesheet">

	<!-- Style Sheets -->
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/slick.css">

	<link rel="stylesheet" href="../css/custom.css">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/message.css">
</head>

<body>

	<!-- {% block header %}
	{% include 'header.html
	{% endblock %}

	{% block base %}
	{% include 'base.html
	{% endblock %}


	{% block aboutus %}
	{% include 'aboutus.html
	{% endblock %}


	{% block tokenomics %}
	{% include 'tokenomics.html
	{% endblock %}


	{% block tokenallocation %}
	{% include 'tokenallocation.html
	{% endblock %}

	{% block howtobuy %}
	{% include 'howtobuy.html
	{% endblock %}

	{% block roadmap %}
	{% include 'roadmap.html
	{% endblock %}



	{% block ourteam %}
	{% include 'ourteam.html
	{% endblock %}


	{% block faq %}
	{% include 'faq.html
	{% endblock %}



	{% block footer %}
	{% include 'footer.html
	{% endblock %}

	{% block message %}
	{% include 'message.html
	{% endblock %} -->


	<div class="pgLoad">
		<div class="spinner-border" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>

</body>

<!-- Script Files -->

<script>
	localStorage.setItem("Bulid","0.48"); 
</script>

<!-- {% block script %}
{% include 'script.html
{% endblock %} -->
</html>