{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- <script type="text/javascript"
src="https://unpkg.com/@walletconnect/web3-provider@1.2.1/dist/umd/index.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.36/dist/web3.min.js"
integrity="sha256-nWBTbvxhJgjslRyuAKJHK+XcZPlCnmIAAMixz6EefVk=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.6.1/web3.min.js"
integrity="sha512-5erpERW8MxcHDF7Xea9eBQPiRtxbse70pFcaHJuOhdEBQeAxGQjUwgJbuBDWve+xP/u5IoJbKjyJk50qCnMD7A=="
crossorigin="anonymous" referrerpolicy="no-referrer">
</script> -->
<!-- 
	<script src="{% static './lobibox/lib/jquery.1.11.min.js' %}"></script> 
	 <script src="{% static './lobibox/lib/jquery.1.11.js' %}"></script>  -->
	 <link rel="stylesheet" href="{% static  './lobibox/css/bootstrap.css.map'  %}">
	<link rel="stylesheet" href="{% static  './lobibox/css/lobibox.css'  %}">
	<link rel="stylesheet" href="{% static  './lobibox/css/lobibox.min.css'  %}">
	<link rel="stylesheet" href="{% static  './lobibox/css/lobibox.min.css'  %}">






    {% if messages %}
    {% for message in messages %}  
    <script>
        
     $(document).ready(function(){
 
        
         var type = '';
         var message ='';
 
          
          type ='{{ message.tags }}';
          message = '{{ message}}';
         
         //alert(type)
         //alert(message)
 
         if (type =='alert-success'){
           
             var success_text =  message;
             Lobibox.notify('success', {
             title:'Success',
             continueDelayOnInactiveTab: false,
             pauseDelayOnHover: true,
             sound: false,
             position: 'right top',
             msg: success_text
             });
           }
          else {
             var error_text = message
             Lobibox.notify('error', {
             title:'Error',
             continueDelayOnInactiveTab: false,
             pauseDelayOnHover: true,
             sound: false,
             position: 'right top',
             msg: error_text
             });
 
         }
 
        
         
 
       document.addEventListener("contextmenu", function(e){
         e.preventDefault();
       }, false)
      
       });
   </script>
   {% endfor %}
   {% endif %}




    <!-- <script src="{% static './lobibox/js/lobibox.js' %}"></script>  -->
 <script src="{% static './lobibox/js/lobibox.min.js' %}"></script>
 <script src="{% static './lobibox/js/messageboxes.min.js' %}"></script>
 <script src="{% static './lobibox/js/notifications.min.js' %}"></script>
 <script src="{% static './lobibox/js/notifications.js' %}"></script>
 <script src="{% static './lobibox/js/messageboxes.js' %}"></script>